
@{
    ViewBag.Title = "企业通讯";
    ViewData["tabTop"] = "sms";
}

<!--头部脚本-->
@section head
{

}
<!--头部脚本 end-->

<div class="container2">
    <div class="tit1">
        <b>深圳花伴里有限公司</b>
        <div class="search"><input type="text" id="" value="" placeholder="请输入手机号/姓名" /><input type="button" id="" value="" /></div>

    </div>

    <div class="mt_20">
        <div class="tc memOrg">
            <img src="/Assets/theme/images/temp2.jpg" />
        </div>
    </div>

</div>



<div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>



<!--底部脚本-->
@section foot
{
    <script type="text/javascript">

    </script>

}
<!--底部脚本 end-->