@model Universal.Entity.ViewModel.Honour
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Summary</title>
</head>
<body>
    <div>
        公司荣誉
    </div>
</body>
</html>
