@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $(function () {
            $("#a_out").click();
            document.getElementById("a_out").click();
        })
    </script>
</head>
<body>
    <div>
        <a href="@Url.Action("Login", "Home",new { Area="Admin"})" target="_parent" id="a_out" style="display:none">跳出框架</a>
    </div>
</body>
</html>
