@{
    ViewBag.Title = "员工管理";
    ViewData["tabLeft"] = "user_list";
    ViewData["tabTop"] = "manager";
}

<!--头部脚本-->
@section head
{

}
<!--头部脚本 end-->


<div class="wapper">
@Html.Partial("_AdminMenuLeft", this.ViewData)
    <div class="rightBox">
        <div class="container">
            <div class="tit1">
                <b>员工管理</b>
                <div class="search"><input id="txt_search" value="" placeholder="请输入手机号/姓名" type="text"><input onclick="data_search()" type="button"></div>
                <span class="banbenOp fr"><a href="/AdminUser/Modify" title="添加员工"><i class="i-addmb"></i> 添加员工</a><a href="/AdminUser/Job" title="职位管理"><i class="i-jobmg"></i> 职位管理</a></span>
                <input type="hidden" id="hid_temp_department_id" value="0" />
            </div>
            <div class="file">
                <div class="fileLt" id="menu">
                    <h4>所有部门</h4>
                    <ul id="tree_root">
                        @Html.Raw(ViewData["TreeData"])
                    </ul>
                </div>

                <div class="fileRt">
                    <div class="projectColl">
                        <table border="0" cellspacing="0" cellpadding="0" class="table1">
                            <thead>
                                <tr>
                                    <th width="5%"><span class="sp_a"><input type="checkbox" onclick="CheckAll(this)" /></span></th>
                                    <th width="10%">姓名</th>
                                    <th width="20%">手机号</th>
                                    <th width="10%">管理权限</th>
                                    <th width="15%">职位</th>
                                    <th width="15%">登录邮箱</th>
                                    <th width="10%">登录密码</th>
                                    <th width="15%">操作</th>
                                </tr>
                            </thead>
                            <tbody id="listData"></tbody>
                        </table>
                        <div class="listBtm">
                            <div class="page fr">
                                <span>共有<span id="span_data_total"></span>条，每页显示</span>
                                <select class="sel" id="select_page_size">
                                    <option value="10" selected>10</option>
                                    <option value="20">20</option>
                                </select>
                                <span>条</span>
                                <div id="pager"></div>
                            </div>

                            <a href="javascript:;" onclick="del(0)" title="批量删除"><i class="i-barrel"></i> 批量删除</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>
    </div>
</div>
    <!--底部脚本-->
    @section foot
{
        <script src="~/Assets/theme/js/menu.js"></script>
        @Scripts.Render("~/bundles/laypage")

        <script type="text/javascript">

            $(document).ready(function (e) {
                pageData(1,@ViewData["DefaultID"],false)
            });

            function data_search()
            {
                pageData(1, $("#hid_temp_department_id").val(), false)
            }

            /*******************列表 end *************************/
            //分页方法
            function pageData(page_index, department_id, clearbox) {
                if (department_id == 0)
                {
                    return;
                }
                $("#hid_temp_department_id").val(department_id);
                if (clearbox)
                {
                    $("#txt_search").val("");
                }
                $.ajax({
                    type: "post",
                    url: "/AdminUser/UserData",
                    data: { "page_size": $("#select_page_size").val(), "page_index": page_index, "department_id": department_id, "keyword": $("#txt_search").val() },
                    async: false, //同步请求
                    datatype: "json",
                    beforeSend: function () {
                        //Loading....
                    },
                    complete: function () {
                        //Loading Complete
                    },
                    success: function (data) {
                        if (data.msg == 0) {
                            alert(data.msgbox);
                            return;
                        }

                        $("#listData").html("");
                        var dataHtml = "";
                        $.each(data.data, function (i, item) {
                            var admin_str = "";
                            if (item.IsAdmin) {
                                admin_str = "管理员"
                            }
                            var email = "";
                            if (item.Email != null)
                            {
                                email = item.Email;
                            }

                            dataHtml += "<tr>";
                            if(item.ID == 1)
                            {
                                dataHtml += "<td>&nbsp;</td>";
                            }else
                            {
                                dataHtml += "<td><input class=\"all_checked_but\" type=\"checkbox\" hid=\"" + item.ID + "\" /></td>"
                            }
                            dataHtml += "<td>"+item.NickName+"</td>";
                            dataHtml += "<td>"+item.Telphone+" </td>";
                            dataHtml += "<td>" + admin_str + "</td>";
                            dataHtml += "<td>" + item.CusUserJob.Title + "</td>";
                            dataHtml += "<td>" + email + "</td>";
                            dataHtml += "<td><a href='javascript:void(0)' onclick='reset_pwd("+item.ID+")'>重置</a></td>";
                            dataHtml += "<td><div class=\"tbOpare\"><a href=\"/AdminUser/Modify?id="+item.ID+"\" class=\"\"><i class=\"i-edt\"></i></a><a href=\"javascript:void(0);\"  onclick=\"del("+item.ID+")\" class=\"aDel\"><i class=\"i-barrel\"></i></a></div></td>";
                            dataHtml += "</tr>";
                        });
                        if (data.data.length == 0) {
                            dataHtml += "<tr><td colspan=\"10\"><p style='text-align:center;font-size:16px;'>没有相关数据</p></td><tr>";
                        }
                        $("#span_data_total").text(data.total);
                        $("#listData").html(dataHtml);
                        //$("#pager").show();
                        //$("#pager").pager({ pagenumber: page_index, pagecount: data.data.PageTotal, totalcount: data.data.DataTotal, buttonClickCallback: PageClick });
                        //显示分页
                        laypage({
                            cont: 'pager', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                            pages: data.msgbox, //通过后台拿到的总页数
                            curr: page_index || 1, //当前页
                            groups: 7, //连续显示分页数
                            skip: true, //是否开启跳页
                            jump: function (obj, first) { //触发分页后的回调
                                if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                                    pageData(obj.curr,department_id, clearbox);
                                }
                            }
                        });

                    },
                    error: function () {
                        alert("加载失败");
                    }
                })
            }
            /*******************列表 end *************************/

            //列表的选中
            function CheckAll(obj) {
                if ($(obj).is(':checked')) {
                    $(".all_checked_but").prop("checked", true);
                } else {
                    $(".all_checked_but").prop("checked", false);
                }
            }

            function del(id) {
                var ids = "";
                if(id==0)
                {
                    $(".all_checked_but").each(function () {
                        if ($(this).is(':checked')) {
                            ids = ids + $(this).attr("hid") + ","
                        }
                    })
                    if (ids == "") {
                        alert("请先选中要删除的数据");
                        return;
                    }
                    ids = ids.substring(0, ids.length - 1);
                }
                else
                {
                    ids = id;
                }
                $.ajax({
                    type: "post",
                    url: "/AdminUser/DelUser",
                    data: { "ids": ids },
                    async: false,
                    beforeSend: function () {

                    },
                    complete: function () {

                    },
                    success: function (data) {
                        if (data.msg == 1) {
                            data_search();
                        }
                        else {
                            alert(data.msgbox);
                        }
                    },
                    error: function () {
                        alert("操作失败，请检查网络");
                    }
                })
            }

            function reset_pwd(id) {
                if(id==0)
                {
                    alert("非法参数");
                    return;
                }
                $.ajax({
                    type: "post",
                    url: "/AdminUser/ResetUserPwd",
                    data: { "id": id },
                    async: false,
                    beforeSend: function () {

                    },
                    complete: function () {

                    },
                    success: function (data) {
                        alert(data.msgbox);
                    },
                    error: function () {
                        alert("操作失败，请检查网络");
                    }
                })
            }

        </script>

    }
    <!--底部脚本 end-->
