@model List<Universal.Entity.CusUserJob>
@{
    ViewBag.Title = "职位管理";
    ViewData["tabLeft"] = "user_list";
    ViewData["tabTop"] = "manager";
}


<div class="wapper">
@Html.Partial("_AdminMenuLeft", this.ViewData)

    <div class="rightBox">
        <div class="container">
            <div class="tit1">
                <div class="inner">
                    <a href="/AdminUser/Index" class="fl f16"><i class="i-back"></i>员工管理</a>
                    <b class="tit1Txt fr">职位管理</b>
                </div>
            </div>
            <div class="zwBox">
                <div class="userInfo">
                    <ul>
                        <li>
                            <div class="lilt"><em class="col_red">*</em>职位列表</div>
                            <div class="limd">
                                <ul class="zwList">
                                    @foreach (var item in Model)
                                {
                                <li><a href="javascript:;">@item.Title<i class="i-del" onclick="del(this)" ids="@item.ID"></i></a></li>
                                }
                                </ul>
                            </div>
                            <div class="litip">&nbsp;</div>
                        </li>
                        <li>
                            <div class="lilt"><em class="col_red">*</em>添加职位</div>
                            <div class="limd pr">
                                <input type="text" class="usInput" placeholder="请输入职位名称" id="txt_job" maxlength="20" /><a href="javascript:void(0)" class="addBtn">添加职位</a>
                            </div>
                            <div class="litip">&nbsp;</div>
                        </li>
                        <li>
                            <div class="lilt">&nbsp;</div>
                            <div class="limd"><button type="button" class="btn1" onclick="add()">确定</button></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer">Copyright &copy;  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>
    </div>

</div>

    <!--底部脚本-->
    @section foot
{
        <script type="text/javascript">
            function del(obj) {
                $.ajax({
                    type: "post",
                    url: "/AdminUser/DelJob",
                    data: { "id": $(obj).attr("ids") },
                    async: false,
                    error:function(data){
                        alert("删除失败，可能是该职位下有用户");
                    },
                    success: function (data) {
                        if (data.msg == 0) {
                            alert(data.msgbox);
                        } else {
                            $(obj).parent().parent().remove();
                        }
                    }
                });
            }

            function add() {
                var title = $("#txt_job").val();
                if (title.length == 0) {
                    return false;
                }
                $.ajax({
                    type: "post",
                    url: "/AdminUser/AddJob",
                    data: { "title": title },
                    async: false,
                    success: function (data) {
                        if (data.msg == 0) {
                            alert(data.msgbox);
                        } else {
                            $("#txt_job").val("");
                            var new_id = data.msgbox;
                            $(".zwList").prepend("<li><a href=\"javascript:;\">" + title + "<i class=\"i-del\" onclick=\"del(this)\" ids=\"" + new_id + "\"></i></a></li>");
                        }
                    }
                });
            }

        </script>

    }
    <!--底部脚本 end-->
