@charset "utf-8";
/* CSS Document */
.gl_list_box{width:1150; padding:30px 0; font-size:14px;}
.gl_list_box .rs{width:1148px; border:1px solid #dce2ea;}
.gl_list_box .rs_w1{width:35px;}
.gl_list_box .rs_w2{width:155px;}
.gl_list_box .rs_w3{width:300px;}
.gl_list_box .rs_w4{width:145px;}
.gl_list_box .rs_w5{width:125px;}
.gl_list_box .rs_w6{width:265px;}
.gl_list_box .rs_w7{width:123px;}

.gl_list_box .member_list{overflow:hidden;}
.gl_list_box .member_list li{border-top:1px solid #dce2ea;}
.gl_list_box .member_list .mb_tp_tt{margin-top:-1px; background:#f5f5f7; line-height:34px; height:34px; font-weight:bold; border:0;}
.gl_list_box .member_list p{float:left; height:34px;}
.gl_list_box .member_list .sp_a{padding:11px; display:inline-block;}
.gl_list_box .member_list .mb_list_li{line-height:44px; height:44px; background:#fff;}
.gl_list_box .member_list .mb_list_li p{height:44px;}
.gl_list_box .member_list .mb_list_li .sp_a{padding-top:16px;}
.gl_list_box .member_list .sp_b{line-height:16px; padding:0 5px; display:inline-block; vertical-align:middle; border:1px solid #01af70; border-radius:3px; color:#01af70; font-size:12px; margin-left:10px;}
.gl_list_box .member_list .edit_but{width:22px; height:20px; display:inline-block; margin-right:15px; background:url(../images/gg_icon2.jpg) center no-repeat; margin-top:12px;}
.gl_list_box .member_list .del_but{background-image:url(../images/yg_icon05.jpg);}
.gl_list_box .member_bottom{height:30px; line-height:30px; padding:10px; border-top:1px solid #dce2ea;}
.gl_list_box .member_bottom .del_red{width:20px; height:30px; background:url(../images/yg_icon05.jpg) left center no-repeat; display:inline-block; vertical-align:middle; margin-top:-4px;}
.gl_list_box .member_bottom .page_right{float:right; font-size:12px;}

.page_gl_but{float:right; display:inline-block; height:36px; line-height:36px; font-size:14px; margin:-15px 0 0 20px;}
.page_gl_but i{width:22px; height:36px; display:inline-block; vertical-align:middle; background:url(../images/gg_icon1.jpg) left center no-repeat; left center no-repeat;}
.page_gl_but i.ic{background-image:url(../images/yg_icon05.jpg);}

.form_gl_box{width:690px; margin:40px auto; font-size:14px;}
.form_gl_box .p_a{padding-bottom:25px;}
.form_gl_box .p_b{float:left; width:80px; height:42px; line-height:42px; padding-right:15px; text-align:right;}
.form_gl_box .p_c{float:left; width:595px;}
.form_gl_box .p_d{color:#e22d3e;}
.form_gl_box .inp_a{width:585px; border:1px solid #e0e0e0; height:40px; border-radius:4px; overflow:hidden;}
.form_gl_box .inp_a input{width:565px; height:20px; padding:10px; line-height:20px; background:#fff; border:0;}
.form_gl_box .lab_a{padding-bottom:15px; line-height:42px; cursor:pointer;}
.form_gl_box .lab_a i{width:22px; height:22px; display:inline-block; vertical-align:middle; background:url(../images/join.jpg) center no-repeat; margin-right:5px;}
.form_gl_box .lab_a input{display:none;}
.form_gl_box .member_list{width:585px; height:162px; border:1px solid #e0e0e0; overflow:hidden;}
.form_gl_box .member_list ul{width:605px; height:162px; overflow-x:hidden; overflow-y:visible;}
.form_gl_box .member_list li{float:left; width:180px; height:30px; line-height:30px; padding:0 7px 0 8px; cursor:default;}
.form_gl_box .member_list em{float:right; width:30px; height:30px; line-height:30px; text-align:center; font-size:20px; font-weight:bold; overflow:hidden; color:#e22d3e; cursor:pointer; display:none;}
.form_gl_box .member_list .hover{background:#f5f5f7;}
.form_gl_box .member_list .hover em{display:block;}
.form_gl_box .but{width:100px; height:40px; text-align:center; line-height:40px; background:#e22d3e; color:#fff; border:1px solid #e22d3e; font-size:14px; margin-right:15px; display:inline-block; border-radius:4px;}
.form_gl_box .but_z{background:#fff; color:#999; border-color:#CCC;}

.form_gonggao_box .pub_select_box{width:515px;}
.form_gonggao_box .p_b{width:150px;}
.form_gonggao_box .p_c{width:525px;}
.form_gonggao_box .inp_a{width:525px}
.form_gonggao_box .inp_a input{width:505px; height:20px; padding:10px; line-height:20px; background:#fff; border:0;}
.form_gonggao_box .member_list{width:525px;}
.form_gonggao_box .zindex{z-index:102;}

.banben_list_box .rs_w1{width:35px;}
.banben_list_box .rs_w2{width:70px;}
.banben_list_box .rs_w3{width:145px;}
.banben_list_box .rs_w4{width:170px;}
.banben_list_box .rs_w5{width:170px;}
.banben_list_box .rs_w6{width:250px;}
.banben_list_box .rs_w7{width:190px;}
.banben_list_box .rs_w8{width:118px;}
.banben_list_box .bb_icon1{width:25px; height:23px; display:inline-block; margin:9px 0 0 15px; background:url(../images/bb_icon01.jpg) center no-repeat; vertical-align:middle;}
.banben_list_box .bb_icon2{width:20px; height:20px; display:inline-block; margin:12px 0 0 15px; background:url(../images/bb_icon02.jpg) center no-repeat; vertical-align:middle;}
.banben_list_box .bb_icon3{width:20px; height:22px; display:inline-block; margin:11px 0 0 15px; background:url(../images/bb_icon03.jpg) center no-repeat; vertical-align:middle;}
.page_gl_but i.bb_bg{background-image:url(../images/miji_upload.jpg);}
.banben_list_box .member_list .bb_icon4{background-image:url(../images/bb_icon04.jpg);}
.banben_list_box .member_list .bb_icon5{background-image:url(../images/bb_icon05.jpg);}
.banben_list_box .member_list .edit_but{margin-right:10px;}





 
