@{
    ViewBag.Title = "我的消息";
    ViewData["tabLeft"] = "msg";
    ViewData["tabTop"] = "manager";
}

<!--头部脚本-->
@section head
{

}
<!--头部脚本 end-->

<div class="wapper">
    @Html.Partial("_MenuLeft", this.ViewData)

    	

</div>

<!--底部脚本-->
@section foot
{
    <script type="text/javascript">
    </script>

}
<!--底部脚本 end-->
