<?xml version="1.0"?>
<WebSiteModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SiteUrl>http://mp.holdermedcare.com</SiteUrl>
  <CompanyName>厚德医疗</CompanyName>
  <CopyrightNotice>Copyright©2018 厚德医疗 All Rights Reserved</CopyrightNotice>
  <VIPAmount>999</VIPAmount>
  <AppPoolName>HKMP</AppPoolName>
  <WebExecutionTime>true</WebExecutionTime>
  <LogMethodInDB>true</LogMethodInDB>
  <LogExceptionInDB>true</LogExceptionInDB>
  <EmailHost>smtp.qq.com</EmailHost>
  <EmailPort>587</EmailPort>
  <EmailEnableSsl>true</EmailEnableSsl>
  <EmailFrom>769371877@qq.com</EmailFrom>
  <EmailPwd>kzvtmxnibombbdih</EmailPwd>
  <WeChatAppID>wxbd6624f5a5160c07</WeChatAppID>
  <WeChatAppSecret>2f3182e1388ac449b239cd680c005840</WeChatAppSecret>
  <WeChatPayMchid>1412652602</WeChatPayMchid>
  <WeChatPayMchAppID>1287332101</WeChatPayMchAppID>
  <WeChatPayPayKey>fgtc0f7fdgfbc8267becde3ds2932ddg</WeChatPayPayKey>
</WebSiteModel>