<?xml version="1.0"?>
<WebSiteModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SiteUrl>http://localhost</SiteUrl>
  <FileUrl>http://localhost</FileUrl>
  <CompanyName>公司名称</CompanyName>
  <AppPoolName>test</AppPoolName>
  <DbBackPath>D:\db\</DbBackPath>
  <WebExecutionTime>true</WebExecutionTime>
  <LogMethodInDB>true</LogMethodInDB>
  <LogExceptionInDB>true</LogExceptionInDB>
  <WebAPIAuthentication>false</WebAPIAuthentication>
  <WebAPITracker>true</WebAPITracker>
  <WebAPITokenKey>X-MonsterAccountToken</WebAPITokenKey>
  <WebAPIMixer>lizd@fd9^orda2324</WebAPIMixer>
  <EmailHost>smtp.qq.com</EmailHost>
  <EmailPort>587</EmailPort>
  <EmailEnableSsl>true</EmailEnableSsl>
  <EmailFrom>769371877@qq.com</EmailFrom>
  <EmailPwd>kzvtmxnibombbdih</EmailPwd>
</WebSiteModel>