<?xml version="1.0"?>
<WebSiteModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SiteUrl>http://www.langxing.com.cn:81</SiteUrl>
  <FileUrl>http://www.langxing.com.cn/uploads</FileUrl>
  <CompanyName>朗形机构</CompanyName>
  <Copyright>朗形机构[www.langxing.com.cn]Copyright(C)2006-2018 All Rights Reserved 粤ICP备14045727号</Copyright>
  <CompanyTel>0755-33525878</CompanyTel>
  <CompanyAddress>深圳市中国新媒体广告园13F</CompanyAddress>
  <CompanyEmail>landsky2014@langxiong.com.cn</CompanyEmail>
  <AppPoolName>test</AppPoolName>
  <JobTel>0755-33525878</JobTel>
  <JobEmail>landsky2014@langxiong.com.cn</JobEmail>
  <BannerTime>5</BannerTime>
  <HomeCaseDesc>公司业务科氛围数字图像制作和视觉系统集成，其中数字图像制作主要应用在设计可视化、商业宣传及影视特效领域，视觉系统集成主要应用在展览展示、大型活动及虚拟仿真领域等。</HomeCaseDesc>
  <TimeLineRedCenterTop>2000-2018</TimeLineRedCenterTop>
  <TimeLineRedCenterDesc>LANDSKY 18 ANNIVERSARY</TimeLineRedCenterDesc>
  <WebExecutionTime>true</WebExecutionTime>
  <LogMethodInDB>true</LogMethodInDB>
  <LogExceptionInDB>true</LogExceptionInDB>
  <EmailHost>smtp.qq.com</EmailHost>
  <EmailPort>587</EmailPort>
  <EmailEnableSsl>true</EmailEnableSsl>
  <EmailFrom>769371877@qq.com</EmailFrom>
  <EmailPwd>kzvtmxnibombbdih</EmailPwd>
</WebSiteModel>