
@{
    ViewBag.Title = "企业通讯";
    ViewData["tabTop"] = "sms";
}

<!--头部脚本-->
@section head
{

<style type="text/css">
.l-box{width:1000px;margin:0 auto; position:relative; padding:30px 0;}
.circle {
    width: 140px;
    height: 140px;
    background:red;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    position:relative;
    color:#fff;
    text-align:center;line-height:140px;
    display:inline-block;
    margin:30px 55px;
    vertical-align:top;
}
.circle{
	-webkit-transition: -webkit-transform 0.4s ease-out;
	-moz-transition: -moz-transform 0.4s ease-out;
	transition: transform 0.4s ease-out}
.circle:hover{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	transform: rotate(360deg);}
.circle .l-title{font-size:30px;
    font-weight:700; line-height:42px; padding-top:28px; display:inline-block;}
.circle a,.circle a:hover{color:#fff;text-decoration: none}
/*
.circle0{background: #df3043;left:50%;top:50%;margin-left:-70px;margin-top:-100px}
.circle1{background:#44a7ec;left:50%;top:50%;margin-left:-70px;margin-top:-290px}
.circle2{background:#1ec37c;left:50%;top:50%;margin-left:-240px;margin-top:-190px}
.circle3{background:#28d94b;left:50%;top:50%;margin-left:-240px;margin-top:-10px}
.circle4{background:#37b9d6;left:50%;top:50%;margin-left:-70px;margin-top:90px}
.circle5{background:#fb6549;left:50%;top:50%;margin-left:100px;margin-top:20px}
.circle6{background:#f4b262;left:50%;top:50%;margin-left:100px;margin-top:-170px}
.circle7{}
.circle8{}
.circle9{}
.circle10{}
.circle11{}
*/
.circle ul{position:absolute;line-height:20px;color:#666;width:210px;height:400px;
/*  border:1px solid red; */
 display:none;
left:-130px;top:-130px; z-index:103;}
.circle li{width: 100px;
    height: 100px;
    background:#fff;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position:absolute;
    left:100px;
    color:#666;
    border:2px solid #666;
    text-align:center;line-height:100px;}
.circle li a,.circle li a:hover{color:#666}
.circle .l1{left:10px;top:70px}
.circle .l2{left:10px;top:190px}
.circle .l3{left:100px;top:290px}


.circle1 ul{width:400px;height:210px}

.circle1 .l1{left:0px;top:100px}
.circle1 .l2{left:100px;top:0px}
.circle1 .l3{left:230px;top:20px}

.circle2 ul{width:240px}
.circle2 .l1{left:100px;top:0px}
.circle2 .l2{left:0px;top:100px}
.circle2 .l3{left:30px;top:230px}

.circle4 ul{height:260px;width:400px;top:0}
.circle4 .l1{left:0;top:50px}
.circle4 .l2{left:80px;top:150px}
.circle4 .l3{left:210px;top:150px}

.circle5 ul{height:260px;width:310px;top:0;left:-40px}
.circle5 .l1{left:0;top:140px}
.circle5 .l2{left:130px;top:140px}
.circle5 .l3{left:200px;top:30px}

.circle6 ul{height:320px;width:310px;top:-100px;left:0}
.circle6 .l1{left:120px;top:210px}
.circle6 .l2{left:155px;top:100px}
.circle6 .l3{left:95px;top:0px}
</style>
}
<!--头部脚本 end-->

<div class="container2">
    <div class="tit1">
        <b>深圳市诚泰城市更新咨询服务有限公司</b>
		<div class="search"><input type="text" id="txt_word" value="" placeholder="请输入手机号/姓名" onkeydown="KeyDown('WordSearch()')" /><input type="button" onclick="    WordSearch()" /></div>

    </div>
		<div class="l-box">
		
		</div>
</div>



<div class="footer">Copyright ©  深圳市诚泰城市更新咨询服务有限公司  粤ICP备17053275号</div>



<!--底部脚本-->
@section foot
{
    <script type="text/javascript">
    $.ajax({
    	url:'/Tools/GetDepartmentList',
    	success:function(data){
    		var items={};
    		$(data.data).each(function(){
    			if(typeof items[this.parent_id]=='undefined'){
    				items[this.parent_id]=[];
    			}
    			items[this.parent_id].push(this);
    		})
    		$(items[0]).each(function(i){
    			var div=$('<div class="circle"></div>').appendTo($('.l-box'));
    			/*div.addClass('circle'+i);
				var x=Math.floor(Math.random()*3+1)*30;
				var y=Math.floor(Math.random()*3+1)*30;
				div.css("margin",x+"px "+y+"px");*/
				var bgColor='#'+Math.floor((0.1+0.02*i)*16777215).toString(16); 
				div.css("background-color",bgColor);
    			$('<a class="l-title"></a>').appendTo(div).html(this.title).attr('href','Users?d='+this.department_id+'&page=1');
    			if(typeof items[this.department_id]!='undefined' && i>0){
    				var ul=$('<ul></ul>').appendTo(div);
    				$(items[this.department_id]).each(function(j){
    					var li=$('<li></li>').appendTo(ul).addClass('l'+(j+1));
    					$('<a></a>').appendTo(li).html(this.title).attr('href','Users?d='+this.department_id+'&page=1');
    				});
    			}
    		});

    	    $('.circle').hover(function () {
    	    	$(this).find('ul').stop().show(300);
    	    }, function () {
    	    	$(this).find('ul').stop().hide(150);
    	    }) 
    	}
    });
    function WordSearch()
    {
        if($("#txt_word").val().length==0)
        {
            location.href = "/Contacts/Users?page=1&w=";
        }
        else
        {
            location.href = "/Contacts/Users?page=1&w="+encodeURIComponent($("#txt_word").val());
        }

    }
    </script>

}
<!--底部脚本 end-->