@model Universal.Entity.ProjectFlowNode
@{
    ViewBag.Title = "版本信息";
    ViewData["tabLeft"] = "msg";
    ViewData["tabTop"] = "manager";
}

<!--头部脚本-->
@section head
{
}
<!--头部脚本 end-->

<div class="wapper">
    @Html.Partial("_MenuLeft", this.ViewData)

    <div class="rightBox">
        <div class="container">
            <div class="tit1">
                <div class="inner">
                    <a href="/User/Message" class="fl f16"><i class="i-back"></i>消息列表</a>
                </div>
            </div>

            <div class="userInfo sysIn">
                <ul>
                    <li>
                        <div class="lilt">项目名称</div>
                        <div class="limd">
                            <span>@Model.Project.Title</span>
                        </div>
                        <div class="litip"></div>
                    </li>
                    <li>
                        <div class="lilt">完成的节点</div>
                        <div class="limd">
                            <span>@Model.Node.Title</span>
                        </div>
                        <div class="litip"></div>
                    </li>
                    
                    <li>
                        <div class="lilt">&nbsp;</div>
                        <div class="limd">
                            <button type="button" onclick="location.href = '/Project/FlowInfo?id=@Model.ProjectID';" class="btn1 grey">查看详细信息</button>
                            <button type="button" onclick="location.href = '/User/Message';" class="btn1 grey">返回消息列表</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer">Copyright ©  深圳市诚泰城市更新咨询服务有限公司  粤ICP备17053275号</div>
    </div>

</div>

<!--底部脚本-->
@section foot
{
    <script type="text/javascript">

    </script>
}
<!--底部脚本 end-->
