<div class="leftMenu">
    <h2>学院秘籍</h2>
    <div class="ltMenu">
        <dl>
            <dt>全部秘籍 </dt>
            <dd @(ViewData["tabLeft"].ToString().Equals("index") ? "class=act" : "")><a href="/Shool/Index" title="秘籍列表"><em><i class="ico-nav1"></i></em><span>秘籍列表</span></a></dd>
        </dl>
        <dl>
            <dt>流程指引</dt>
            @foreach (var item in Universal.BLL.BLLFlow.GetAllFlow())
            {
                <dd @(ViewData["tabLeft"].ToString().Equals("flow" + item.ID.ToString()) ? "class=act" : "")><a href="/Shool/Flow?id=@item.ID" title="@item.Title"><span>@item.Title</span></a></dd>
                
            }
        </dl>
    </div>
</div>