@{
    ViewBag.Title = "流程管理";
    ViewData["tabLeft"] = "flow";
    ViewData["tabTop"] = "manager";
}

<!--头部脚本-->
@section head
{

}
<!--头部脚本 end-->
<div class="wapper">
    @Html.Partial("_AdminMenuLeft", this.ViewData)

    <div class="rightBox">
        <div class="container">
            <div class="tit1">
                <b>流程列表</b>
                <a href="/Flow/Modify" title="#" class="add_lc fr">+ 新增流程</a>
            </div>

            <div class="projectColl">
                <table border="0" cellspacing="0" cellpadding="0" class="table1">
                    <thead>
                        <tr>
                            <th width="20%">流程名称</th>
                            <th width="20%">更新时间</th>
                            <th width="15%">操作</th>
                            <th width="15%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody id="listData"></tbody>
                    <!--
                    <tr>
                        <td><a href="#">2016年最新流程</a></td>
                        <td><span class="tfe"><a href="#1"><img src="/assets/theme/images/img5.jpg" /></a></span></td>
                        <td>2016-10-30 12:30</td>
                        <td>
                            <div class="tbOpare">
                                <a href="">详情</a>|<a href="">编辑</a>|<a href="">删除</a>
                            </div>
                        </td>
                        <td><a href="#" title="#" class="lc_default">默认流程</a></td>
                    </tr>
                     -->
                </table>
                <div class="listBtm">
                    <div style="width: 20%;float: left;">
								<span>共有<span id="span_data_total"></span>条，每页显示</span>
								<select class="sel" id="select_page_size">
									<option value="10" selected>10</option>
									<option value="20">20</option>
								</select>
								<span>条</span>
							</div>
							<div class="page fr">                        
								<div id="pager"></div>
							</div>
                </div>
            </div>

        </div>



        <div class="footer">Copyright ©  深圳市诚泰城市更新咨询服务有限公司  粤ICP备13089427号-1</div>
    </div>

</div>

<!--底部脚本-->
@section foot
{
@Scripts.Render("~/bundles/laypage")
@Scripts.Render("~/bundles/layer")
    <script type="text/javascript">
        var is_admin = @ViewData["IsAdmin"].ToString().ToLower();
        $(document).ready(function (e) {
            pageData(1, false)
        });

        /*******************列表 end *************************/
        //分页方法
        function pageData(page_index) {
            $.ajax({
                type: "post",
                url: "/Flow/PageData",
                data: { "page_size": $("#select_page_size").val(), "page_index": page_index, "keyword": $("#txt_search").val() },
                async: false, //同步请求
                datatype: "json",
                beforeSend: function () {
                    //Loading....
                },
                complete: function () {
                    //Loading Complete
                },
                success: function (data) {
                    if (data.msg == 0) {
                        alert(data.msgbox);
                        return;
                    }

                    $("#listData").html("");
                    var dataHtml = "";
                    $.each(data.data, function (i, item) {
                        var def_txt = "默认流程";
                        var def_class = "lc_default";
                        var def_click = "";
                        if (!item.IsDefault)
                        {
                            def_txt = "设置默认";
                            def_class = "lc_";
                            def_click = "onclick=\"setDef(" + item.ID + ")\"";
                        }

                        dataHtml += "<tr>";
                        dataHtml += "<td>" + item.Title + "</td>";
                        dataHtml += "<td>" + ChangeDateFormat(item.LastUpdateTime, "") + "</td>";
                        dataHtml += "<td><div class=\"tbOpare\"><a href=\"/Flow/Modify?id=" + item.ID + "\">详情</a>|<a href=\"/Flow/Modify?id=" + item.ID + "\">编辑</a>|<a href=\"javascript:;\" onclick=\"del(" + item.ID + ")\">删除</a></div></td>";
                        dataHtml += "<td><a href=\"javascript:;\" " + def_click + " class=\"" + def_class + "\">" + def_txt + "</a></td>";
                        dataHtml += "</tr>";
                    });
                    if (data.total == 0) {
                        dataHtml += "<tr><td colspan=\"10\"><p style='text-align:center;font-size:16px;'>没有相关数据</p></td><tr>";
                    }
                    $("#span_data_total").text(data.total);
                    $("#listData").html(dataHtml);
                    //$("#pager").show();
                    //$("#pager").pager({ pagenumber: page_index, pagecount: data.data.PageTotal, totalcount: data.data.DataTotal, buttonClickCallback: PageClick });
                    //显示分页
                    laypage({
                        cont: 'pager', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                        pages: data.msgbox, //通过后台拿到的总页数
                        curr: page_index || 1, //当前页
                        groups: 7, //连续显示分页数
                        skip: true, //是否开启跳页
                        jump: function (obj, first) { //触发分页后的回调
                            if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                                pageData(obj.curr);
                            }
                        }
                    });

                },
                error: function () {
                    alert("加载失败");
                }
            })
        }
        /*******************列表 end *************************/
        
        function del(id) {
            layer.confirm('删除之后该流程下的节点信息及资料也会一并删除，与该流程关联的项目也将无法正常使用，是否确定删除？', { icon: 3 }, function (index) {
                layer.close(index);

                $.ajax({
                    type: "post",
                    url: "/Flow/Del",
                    data: { "id": id },
                    async: false,
                    beforeSend: function () {

                    },
                    complete: function () {

                    },
                    success: function (data) {
                        if (data.msg == 1) {
                            pageData(1);
                        }
                        else {
                            alert(data.msgbox);
                        }
                    },
                    error: function () {
                        alert("操作失败，请检查网络");
                    }
                })
            });
        }

        function setDef(id) {
            $.ajax({
                type: "post",
                url: "/Flow/SetDefault",
                data: { "id": id },
                async: false,
                success: function (data) {
                    if (data.msg == 1) {
                        pageData(1);
                    }
                    else {
                        alert(data.msgbox);
                    }
                },
                error: function () {
                    alert("操作失败，请检查网络");
                }
            })
        }

    </script>

}
<!--底部脚本 end-->
