@{
    ViewBag.Title = "流程管理";
    ViewData["tabLeft"] = "flow";
    ViewData["tabTop"] = "manager";
}

<!--头部脚本-->
@section head
{

}
<!--头部脚本 end-->
<div class="wapper">
    @Html.Partial("_AdminMenuLeft", this.ViewData)

    <div class="rightBox">
        <div class="container">
            <div class="tit1">
                <span class="fr f14 col_grey">注：编辑流程时，可按住 “流程块” 调整顺序</span>
                <div class="inner">
                    <a href="#12" class="fl f16"><i class="i-back"></i>流程列表</a>
                    <b class="tit1Txt fr">2016年最新流程</b>
                </div>

            </div>

            <div class="liuchengEdit">
                <img src="/assets/theme/images/temp1.jpg" />
            </div>

        </div>



        <div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>
    </div>	

</div>

<!--底部脚本-->
@section foot
{
    <script type="text/javascript">
        /**
        * 【获取流程】
        * 接口地址：/Flow/GetFlow?PId=
        * 请求参数：PID，父级ID，如果是一级，则不传数据，为-1获取所有
        * 请求方式：GET
        * 返回数据：json
        * 返回数据格式：直接在浏览器打开地址就可以看到
        */

        /**
        * 【获取所有节点】
        * 接口地址：/Flow/GetAllNode
        * 请求方式：GET
        * 返回数据：json
        * 返回数据格式：直接在浏览器打开地址就可以看到
        */

        /**
        * 【添加流程】
        * 接口地址：/Flow/AddFlow
        * 请求参数示例：data: { "pid": 父级ID, "node_id": 节点ID },
        * 请求方式：Post
        * 返回数据：json
        * 操作状态判断：result.data 是添加成功后的流程ID
        */

        /**
        * 【修改流程节点】
        * 接口地址：/Flow/ModifyFlowNode
        * 请求参数示例：data: { "flow_id": 流程ID, "node_id": 新节点ID },
        * 请求方式：Post
        * 返回数据：json
        * 操作状态判断：同上上
        */

        /**
        * 【设置流程箭头指引】
        * 接口地址：/Flow/SetFlowTOID
        * 请求参数示例：data: { "flow_id": 流程ID, "to_id": "指向的流程ID" },
        * 请求方式：Post
        * 返回数据：json
        * 操作状态判断：0 or 1
        */
    </script>

}
<!--底部脚本 end-->
