
@{
    ViewBag.Title = "平台统计";
    ViewData["tabTop"] = "statistics";
}

<!--头部脚本-->
@section head
{
}
<!--头部脚本 end-->



<div class="container">
    <ul class="new-tab mb_20 clearfix">
        <li><a href="javascript:;">数量统计</a></li>
        <li class="current"><a href="javascript:;">面积统计</a></li>
    </ul>
    <ul class="filter-tab clearfix">
        <li>
            <select name="" id="">
                <option value="">所有年度</option>
            </select>
        </li>
        <li>
            <select name="" id="">
                <option value="">所有季度</option>
            </select>
        </li>
        <li>
            <select name="" id="">
                <option value="">全部区域</option>
            </select>
        </li>
        <li>
            <select name="" id="">
                <option value="">改造性质</option>
            </select>
        </li>
        <li>
            <select name="" id="">
                <option value="">全部节点</option>
            </select>
        </li>
        <li>
            <select name="" id="">
                <option value="">全部项目</option>
            </select>
        </li>
    </ul>
    <div class="chart-box tc">
        <img src="/assets/theme/images/chart2.png" alt="" />
    </div>
</div>
<!--wrapper ]]-->


<div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>








<!--底部脚本-->
@section foot
{
    <script type="text/javascript">

    </script>

}
<!--底部脚本 end-->