@model List<Universal.Entity.Category>
    @{
        ViewBag.Title = "朗形机构";
    }

    <!--头部脚本 Begin-->
    @section head
{
        <link href="/Assets/jf/css/index.css" rel="stylesheet" />
    }
    <!--头部脚本 end-->
    <!-- Body Begin -->
    <div class="main page_index">
        <div class="main-content">
            @foreach (var item in Model)
            {
                <div class="pic-category">
                    <a href="/CaseShow/Index?t=@ViewData["CallName"]&e=@item.CallName"><img src="@(WorkContext.WebSiteConfig.SiteUrl+item.ImgUrl)"></a>
                </div>
            }
            
        </div>
    </div>

    <!-- Body End -->
    <!-- Json中的Data数据 Begin -->
    @section json_data
{

    }
    <!-- Json中的Data数据 End -->
    <!-- Json中的mounted数据 Begin -->
    @section json_mounted
{

    }
    <!-- Json中的mounted数据 End -->
    <!-- Json中的methods数据 Begin -->
    @section json_methods
{

    }
    <!-- Json中的methods数据 End -->
    <!-- 底部中的JS脚本 Begin -->
    @section foot_js
{

    }
    <!-- 底部中的JS脚本 End -->
