
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script>
        var arr1 = [];
        window.onload = function () {
            arr1[2] = "1234"
            arr1[1] = "32423";
            console.log(arr1.join());
        }
    </script>
</head>
<body>
    <h4>Index</h4>
    @{ 
        if(ViewData.ContainsKey("ExecutionTime"))
        {
            @:执行时间：@ViewData["ExecutionTime"] ms
        }
    }
</body>
</html>
