
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SignalDemo</title>
    <script type="text/javascript" src="~/Assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/jquery.signalR-2.2.1.min.js"></script>
    <script type="text/javascript" src="~/SignalR/hubs"></script>

    <script type="text/javascript">
        $(function () {
            var proxy = $.connection.sysMessageService;

            proxy.client.displayDatas = function () {
                getData();
            };
            $.connection.hub.start();
            getData();

            $.connection.hub.start().done(function () {
                getData();
            });
        });

        function getData() {
            var $tbl = $('#tblJobInfo');
            $.ajax({
                url: '/Home/Get',
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        $tbl.empty();
                        $tbl.append(' <tr><th>编号</th><th>内容</th></tr>');
                        var rows = [];
                        for (var i = 0; i < data.length; i++) {
                            rows.push(' <tr><td>' + data[i].ID + '</td><td>' + data[i].Content + '</td></tr>');
                        }
                        $tbl.append(rows.join(''));
                    }
                }
            });
        }

    </script>

</head>
<body>
    <div> 
        <table id="tblJobInfo" style="text-align:center;margin-left:10px"></table>
    </div>
</body>
</html>
