@{
    ViewBag.Title = "项目基本信息";
    ViewData["tabTop"] = "project";
}

<!--头部脚本-->
@section head
{

}
<!--头部脚本 end-->

<!--wrapper [[-->
<div class="container">
    <div class="new-head mb-40 clearfix">
        <a href="javascript:;" class="fl f16 go-prev"><i class="i-back"></i><span>项目管理</span></a>
        <b class="f20">项目祥情</b>
        <span class="fr">
            <a href="javascript:;" title="一键导出"><i class="i-redbb"></i><span>一键导出</span></a>
            <a href="javascript:;" title="删除"><i class="i-barrel"></i><span>删除项目</span></a>
        </span>
    </div>
    <ul class="new-tab mb-40 clearfix">
        <li><a href="javascript:;">流程节点</a></li>
        <li><a href="javascript:;">项目信息</a></li>
        <li class="current"><a href="javascript:;">基本信息</a></li>
        <li><a href="javascript:;">拆迁概况</a></li>
    </ul>
    <div class="demolition clearfix">
        <div class="fl">
            <ul>
                <li><label for="" class="lab5">项目名称：</label><span>珠光村旧改项目</span></li>
                <li><label for="" class="lab5">审批人：</label><span>Jacky</span></li>
                <li><label for="" class="lab5">权利人：</label><span>王小军</span></li>
                <li><label for="" class="lab5">权利人电话：</label><span>15898988985</span></li>
                <li><label for="" class="lab5">项目流程：</label><span>珠光村旧改项目</span></li>
                <li>
                    <label for="" class="lab5">项目联系人：</label>
                    <div class="scrollbox">
                        <a href="javascript:;">18412435698 (张三)</a><a href="javascript:;">18412435698 (张三)</a><a href="javascript:;">18412435698 (张三)</a>
                        <a href="javascript:;">18412435698 (张三)</a><a href="javascript:;">18412435698 (张三)</a><a href="javascript:;">18412435698 (张三)</a>
                        <a href="javascript:;">18412435698 (张三)</a><a href="javascript:;">18412435698 (张三)</a>
                    </div>
                </li>
                <li><label for="" class="lab5">附件：</label><span><i class="i-word"></i>签约房屋位置平面图（标记）.doc</span></li>
            </ul>
            <div class="new-msg-submit"><a href="javascript:;" class="btn-major">编辑</a></div>
        </div>
        <div class="fl slide-box">
            <img src="theme/images/slide.png" alt="" />
        </div>
    </div>
</div>
<!--wrapper ]]-->


<div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>



<!--底部脚本-->
@section foot
{
    <script type="text/javascript">

    </script>

}
<!--底部脚本 end-->