@{
    ViewBag.Title = "项目拆迁信息";
    ViewData["tabTop"] = "project";
}

<!--头部脚本-->
@section head
{

}
<!--头部脚本 end-->

<div class="clear"></div>
<!--wrapper [[-->
<div class="container">
    <div class="new-head mb-40 clearfix">
        <a href="javascript:;" class="fl f16 go-prev"><i class="i-back"></i><span>项目管理</span></a>
        <b class="f20">项目详情</b>
        <span class="fr">
            <a href="javascript:;" onclick="importProject(@Model.ID)" title="一键导出"><i class="i-redbb"></i><span>一键导出</span></a>
            <a href="javascript:;" onclick="delProject(@Model.ID)" title="删除"><i class="i-barrel"></i><span>删除项目</span></a>
        </span>
    </div>
    <ul class="new-tab mb-40 clearfix">
        <li><a href="javascript:;">流程节点</a></li>
        <li><a href="javascript:;">项目信息</a></li>
        <li><a href="javascript:;">基本信息</a></li>
        <li class="current"><a href="javascript:;">拆迁概况</a></li>
    </ul>
    <div class="new-box">
        <div class="new-box-head clearfix">
            <h2 class="fl f16">阳光湾畔第1期</h2>
            <span class="fr">
                <a href="javascript:;" class="btn-major">编辑分期</a>
                <a href="javascript:;" class="btn-minor">添加分期</a>
            </span>
        </div>
        <div class="demolition clearfix ">
            <dl class="col1">
                <dt>基本信息</dt>
                <dd><label for="">拆迁开始时间</label><span>2016-12-20</span></dd>
                <dd><label for="">总户数</label><span>324m2</span></dd>
                <dd><label for="">已签约户数</label><span>234m2 （占比已签约户数/总户数）</span></dd>
                <dd><label for="">未签约户数</label><span>总户数-已签约户数 （占比未签约户数/总户数）</span></dd>
                <dd><label for="">占地面积</label><span>435m2 （等于基地面积+空地面积）</span></dd>
                <dd><label for="">基底面积</label><span>435m2</span></dd>
                <dd><label for="">空地面积</label><span>345m2</span></dd>
                <dd><label for="">已签约面积</label><span>345m2  (占比	已签约面积/占地面积）</span></dd>
                <dd><label for="">未签约面积</label><span>建筑面积-已签约建筑面积  (占比未签约建筑面积/建筑面积）</span></dd>
                <dd><label for="">附件</label><span><i class="i-word"></i>签约房屋位置平面图（标记）.doc</span></dd>
            </dl>
            <dl class="col2">
                <dt>房屋拆除</dt>
                <dd><label for="" class="lab1">占地面积</label><span>435m2</span></dd>
                <dd><label for="" class="lab1">建筑面积</label><span>435m2</span></dd>
                <dd><label for="" class="lab1">补偿面积</label><span>435m2</span></dd>
                <dd><label for="" class="lab1">补偿金额</label><span>435m2</span></dd>
            </dl>
        </div>
    </div>
</div>
<!--wrapper ]]-->


<div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>

<!--底部脚本-->
@section foot
{
    <script type="text/javascript">

    </script>

}
<!--底部脚本 end-->