@{
    ViewBag.Title = "项目流程信息";
    ViewData["tabTop"] = "project";
}

<!--头部脚本-->
@section head
{

}
<!--头部脚本 end-->

<div class="clear"></div>
<!--wrapper [[-->
<div class="container">
    <div class="new-head mb-40 clearfix">
        <a href="javascript:;" class="fl f16 go-prev"><i class="i-back"></i><span>项目管理</span></a>
        <b class="f20">项目祥情</b>
        <span class="fr">
            <a href="javascript:;" title="一键导出"><i class="i-redbb"></i><span>一键导出</span></a>
            <a href="javascript:;" title="删除"><i class="i-barrel"></i><span>删除项目</span></a>
        </span>
    </div>
    <ul class="new-tab clearfix">
        <li class="current"><a href="javascript:;">流程节点</a></li>
        <li><a href="javascript:;">项目信息</a></li>
        <li><a href="javascript:;">基本信息</a></li>
        <li><a href="javascript:;">拆迁概况</a></li>
    </ul>
    <div class="box-line">
        <div class="step1">
            <!-- [[ 交互待定 -->
        </div>
    </div>
</div>
<!--wrapper ]]-->


<div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>






<!--底部脚本-->
@section foot
{
    <script type="text/javascript">

    </script>

}
<!--底部脚本 end-->