@{ 
    ViewBag.Title = "学院秘籍";
    ViewData["tabTop"] = "school";
    ViewData["tabLeft"] = "index" ; 
}

<!--头部脚本-->
@section head { }
<!--头部脚本 end-->


<div class="wapper">
	@Html.Partial("_ShoolMenuLeft", this.ViewData)

	<div class="rightBox">
		<div class="container">
			<div class="new-head clearfix">
				<b class="f20" style="text-align: left;">秘籍列表</b> <span
					class="pos-r fr">
					<div class="search">
						<input id="txt_search" value="" placeholder="请输入标题" type="text"  onkeydown="KeyDown('data_search()')" ><input
							onclick="data_search()" type="button">
					</div> <span class="banbenOp mt_5 mr_15"> <a href="/Shool/Modify"
						title="上传"><i class="i-redbb"></i><span>上传秘籍</span></a></span> <input
					type="hidden" id="hid_temp_doc_id" value="0" />
				</span>
			</div>

			<div class="file">
				<div class="fileLt" id="menu">
					<h4>所有秘籍</h4>
					<ul id="tree_root">@Html.Raw(ViewData["TreeData"])
					</ul>
				</div>
				<div class="fileRt">
					<div class="projectColl">
						<table class="table1" cellspacing="0" cellpadding="0" border="0">
							<thead>
								<tr>
									<th width="40%">标题</th>
									<th width="10%">上传者</th>
									<th width="20%">上传时间</th>
									<th width="15%">操作</th>
								</tr>
							</thead>
							<tbody id="listData"></tbody>
						</table>

						<div class="listBtm">
							<div style="width: 22%;float: left;">
								<span>共有<span id="span_data_total"></span>条，每页显示</span>
								<select class="sel" id="select_page_size">
									<option value="10" selected>10</option>
									<option value="20">20</option>
								</select>
								<span>条</span>
							</div>
							<div class="page fr">                        
								<div id="pager"></div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>



		<div class="footer">Copyright © 深圳市诚泰城市更新咨询服务有限公司 粤ICP备13089427号-1</div>
	</div>
</div>








<!--底部脚本-->
@section foot {
<script src="~/Assets/theme/js/menu.js"></script>
@Scripts.Render("~/bundles/laypage")
@Scripts.Render("~/bundles/layer")
<script type="text/javascript">
        $(document).ready(function (e) {
            pageData(1,@ViewData["DefaultID"],false)
        });

        function data_search()
        {
            pageData(1, $("#hid_temp_doc_id").val(), false)
        }

        /*******************列表 end *************************/
        //分页方法
        function pageData(page_index, doc_id, clearbox) {
            var word = $("#txt_search").val();
            if(word.length == 0)
            {
                if (doc_id == 0)
                {
                    return;
                }
            }else
            {
                doc_id = 0;
            }

            $("#hid_temp_doc_id").val(doc_id);
            if (clearbox)
            {
                $("#txt_search").val("");
            }
            $.ajax({
                type: "post",
                url: "/Shool/DocData",
                data: { "page_size": $("#select_page_size").val(), "page_index": page_index, "doc_id": doc_id, "keyword": word },
                async: false, //同步请求
                datatype: "json",
                beforeSend: function () {
                    layer.load(2);
                },
                complete: function () {
                    layer.closeAll('loading');
                },
                success: function (data) {
                    if (data.msg == 0) {
                        alert(data.msgbox);
                        return;
                    }

                    var tbody=$("#listData").empty();
                    $.each(data.data, function (i, item) {
                    
                        var tr=$('<tr></tr>').appendTo(tbody);
                        $('<td></td>').appendTo(tr).html("<a href=\"/Shool/Info?id="+item.ID+"&b=1\">"+CutString(item.Title,25)+"");
                       	$('<td></td>').appendTo(tr).html(item.CusUser.NickName);
                       	$('<td></td>').appendTo(tr).html(ChangeDateFormat(item.LastUpdateTime,""));
                     	var td=$('<td></td>').appendTo(tr);
                     	var div=$('<div class=\"tbOpare\"></div>').appendTo(td);
                     	if(item.FileList.length>0){
	                     	$('<a href="javascript:;"><i class="i-downL"></i></a>').appendTo(div).click(function(){
	                     		//console.log(JSON.stringify(item));
	                     		showDownDialog(this,item.FileList);
	                     	});
                     	}
                     	if(item.CanEdit)
                     	{
                     	    $('<a><i class="i-edt"></i></a>').appendTo(div).attr('href','/Shool/Modify?id='+this.ID);
                     	}
                     	$('<a><i class="i-look"></i></a>').appendTo(div).attr('href','/Shool/Info?id='+this.ID+'&b=1');
                     	$('<a href="javascript:;" onclick="fav('+item.ID+')" class="afav"><i class="'+item.FavIcon+'"></i></a>').appendTo(div).click(function(){
                     		fav(item.ID);
                     	});
                     	$('<a href="javascript:;" class="aDel"><i class="i-barrel"></i></a>').appendTo(div).click(function(){
                     		del(item.ID);
                     	});

                    });
                    if (data.data.length == 0) {
                    	$("#listData").html("<tr><td colspan=\"10\"><p style='text-align:center;font-size:16px;'>没有相关数据</p></td><tr>");
                    }
                    $("#span_data_total").text(data.total);
                    //$("#pager").show();
                    //$("#pager").pager({ pagenumber: page_index, pagecount: data.data.PageTotal, totalcount: data.data.DataTotal, buttonClickCallback: PageClick });
                    //显示分页
                    laypage({
                        cont: 'pager', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                        pages: data.msgbox, //通过后台拿到的总页数
                        curr: page_index || 1, //当前页
                        groups: 7, //连续显示分页数
                        skip: true, //是否开启跳页
                        jump: function (obj, first) { //触发分页后的回调
                            if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                                pageData(obj.curr,doc_id, clearbox);
                            }
                        }
                    });

                },
                error: function () {
                    alert("加载失败");
                }
            })
        }
        /*******************列表 end *************************/        

        function del(id) {
            $.ajax({
                type: "post",
                url: "/Shool/DelDoc",
                data: { "id": id },
                async: false,
                beforeSend: function () {

                },
                complete: function () {

                },
                success: function (data) {
                    if (data.msg == 1) {
                        data_search();
                    }
                    else {
                        alert(data.msgbox);
                    }
                },
                error: function () {
                    alert("操作失败，请检查网络");
                }
            })
        }

        function fav(id) {
                
            $.ajax({
                type: "post",
                url: "/Shool/Fav",
                data: { "id": id },
                async: false,
                beforeSend: function () {

                },
                complete: function () {

                },
                success: function (data) {
                    if (data.msg == 1) {
                        data_search();
                    }
                    else {
                        alert(data.msgbox);
                    }
                },
                error: function () {
                    alert("操作失败，请检查网络");
                }
            })
        }

    </script>

}
<!--底部脚本 end-->