
@{
    ViewBag.Title = "主体确认";
    ViewData["tabTop"] = "school";
    ViewData["tabLeft"] = "ztqr";
}

<div class="wapper">
    
    @Html.Partial("_ShoolMenuLeft", this.ViewData)

    <div class="rightBox">
        <div class="container">
            <div class="tit1">
                <span>主体确认</span>
            </div>
            <div class="academy-con tc">
                <img src="/assets/theme/images/academy.png" alt="" />
            </div>

        </div>



        <div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>
    </div>
</div>
