@model Universal.Entity.ViewModel.JobCategory
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Join</title>
</head>
<body>
    <div> 
        加入我们
    </div>
</body>
</html>
