@model Universal.Entity.News
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewsDetail</title>
</head>
<body>
    <div>
        新闻详情
    </div>
</body>
</html>
