@{
    ViewBag.Title = "工作计划";
    ViewData["tabLeft"] = "gzjh";
    ViewData["tabTop"] = "manager";
}

<!--头部脚本-->
@section head
{

}
<!--头部脚本 end-->

<div class="wapper">
    @Html.Partial("_MenuLeft", this.ViewData)

    <div class="rightBox">
        <div class="container">
            <div class="tit1">
                <span>审批工作计划</span>
            </div>
            <div class="projectColl">
                <table border="0" cellspacing="0" cellpadding="0" class="table1">
                    <thead>
                        <tr>
                            <th width="30%">计划名称</th>
                            <th width="10%">计划人</th>
                            <th width="10%">审批状态</th>
                            <th width="10%">操作</th>
                        </tr>
                    </thead>
                    <tbody id="listData"></tbody>
                </table>
                <div class="listBtm">
                    <div class="page fr">
                        <span>共有<span id="span_data_total"></span>条，每页显示</span>
                        <select class="sel" id="select_page_size">
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                        </select>
                        <span>条</span>
                        <div id="pager"></div>
                    </div>
                </div>


            </div>

        </div>



        <div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>
    </div>

</div>

<!--底部脚本-->
@section foot
{
    @Scripts.Render("~/bundles/laypage")
    <script type="text/javascript">

        //截取字符串
        function CutString(str, len) {
            if (str.length > len) {
                return str.substring(0, len) + "...";
            } else {
                return str;
            }
        }

        $(document).ready(function (e) {
            pageData(1)
        });

        /*******************列表 end *************************/
        //分页方法
        function pageData(page_index) {
            $.ajax({
                type: "post",
                url: "/WorkPlan/ApprovePageData",
                data: { "page_size": $("#select_page_size").val(), "page_index": page_index, "keyword": "" },
                async: false, //同步请求
                datatype: "json",
                beforeSend: function () {
                    //Loading....
                },
                complete: function () {
                    //Loading Complete
                },
                success: function (data) {
                    if (data.msg == 0) {
                        alert(data.msgbox);
                        return;
                    }

                    $("#listData").html("");
                    var dataHtml = "";
                    $.each(data.data, function (i, item) {
                        var app_text = "未审批";
                        if (item.IsApprove)
                        {
                            app_text = "已审批";
                        }
                        dataHtml += "<tr>";
                        dataHtml += "<td>" + item.WeekText + "</td>";
                        dataHtml += "<td>" + item.CusUser.NickName + "</td>";
                        dataHtml += "<td>" + app_text + "</td>";
                        dataHtml += "<td><div class=\"tbOpare\"><a href=\"/Info/Plan?id=" + item.ID + "\" class=\"aEdt\"><i class=\"i-look\"></i></a></div></td>";
                        dataHtml += "</tr>";
                    });
                    if (data.data.length == 0) {
                        dataHtml += "<tr><td colspan=\"10\"><p style='text-align:center;font-size:16px;'>没有相关数据</p></td><tr>";
                    }
                    $("#span_data_total").text(data.total);
                    $("#listData").html(dataHtml);
                    //$("#pager").show();
                    //$("#pager").pager({ pagenumber: page_index, pagecount: data.data.PageTotal, totalcount: data.data.DataTotal, buttonClickCallback: PageClick });
                    //显示分页
                    laypage({
                        cont: 'pager', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                        pages: data.msgbox, //通过后台拿到的总页数
                        curr: page_index || 1, //当前页
                        groups: 7, //连续显示分页数
                        skip: true, //是否开启跳页
                        jump: function (obj, first) { //触发分页后的回调
                            if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                                pageData(obj.curr);
                            }
                        }
                    });

                },
                error: function () {
                    alert("加载失败");
                }
            })
        }
        /*******************列表 end *************************/

    </script>

}
<!--底部脚本 end-->
