@{
    ViewBag.Title = "工作计划";
    ViewData["tabLeft"] = "gzjh";
    ViewData["tabTop"] = "manager";
}

<!--头部脚本-->
@section head
{

}
<!--头部脚本 end-->

<div class="wapper">
    @Html.Partial("_MenuLeft", this.ViewData)

    <div class="rightBox">
        <div class="container">
            <div class="tit1">
                <span>工作计划</span>
                @if ((bool)ViewData["IsDepartmentAdmin"])
                {
                    <a href="/WorkPlan/Approve" class="newplan">+ 计划审批</a>
                }
                <a href="/WorkPlan/Modify" class="newplan">+ 新建计划</a>
            </div>
            <div class="projectColl">
                <table border="0" cellspacing="0" cellpadding="0" class="table1">
                    <thead>
                        <tr>
                            <th width="5%"><span class="sp_a"><input type="checkbox" onclick="CheckAll(this)" /></span></th>
                            <th width="15%">周次/周期</th>
                            <th width="20%">本周工作记录</th>
                            <th width="20%">下周工作计划</th>
                            <th width="10%">计划完成时间</th>
                            <th width="15%">审批人</th>
                            <th width="8%">审批状态</th>
                            <th width="12%">操作</th>
                        </tr>
                    </thead>
                    <tbody id="listData"></tbody>
                    <!--                        
                    <tr>
                            <td>第12周</td>
                            <td>蔡屋围更新项目</td>
                            <td>规土委审查</td>
                            <td>2016-08-22 18:05:24</td>
                            <td>李明</td>
                            <td><div class="tbOpare"><a href="" class="aEdt"><i class="i-edt"></i></a><a href="" class="aDel"><i class="i-barrel"></i></a></div></td>
                        </tr>
                        -->
                </table>
                <div class="listBtm">
                    <div class="page fr">
                        <span>共有<span id="span_data_total"></span>条，每页显示</span>
                        <select class="sel" id="select_page_size">
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                        </select>
                        <span>条</span>
                        <div id="pager"></div>
                    </div>
                </div>


            </div>

        </div>



        <div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>
    </div>

</div>

<!--底部脚本-->
@section foot
{
@Scripts.Render("~/bundles/laypage")
    <script type="text/javascript">
        $(document).ready(function (e) {
            pageData(1, false)
        });

        /*******************列表 end *************************/
        //分页方法
        function pageData(page_index) {
            $.ajax({
                type: "post",
                url: "/WorkPlan/PageData",
                data: { "page_size": $("#select_page_size").val(), "page_index": page_index, "keyword": "" },
                async: false, //同步请求
                datatype: "json",
                beforeSend: function () {
                    //Loading....
                },
                complete: function () {
                    //Loading Complete
                },
                success: function (data) {
                    if (data.msg == 0) {
                        alert(data.msgbox);
                        return;
                    }

                    $("#listData").html("");
                    var dataHtml = "";
                    $.each(data.data, function (i, item) {
                        var app_text = "未审批";
                        if (item.IsApprove) {
                            app_text = "已审批";
                        }
                        dataHtml += "<tr>";
                        dataHtml += "<td><input class=\"all_checked_but\" type=\"checkbox\" hid=\"" + item.ID + "\" /></td>"
                        dataHtml += "<td>" + item.WeekText + "</td>";
                        dataHtml += "<td>" + CutString(item.NowJob,20) + "</td>";
                        dataHtml += "<td>" + CutString(item.NextPlan,20) + "</td>";
                        dataHtml += "<td>" + ChangeDateFormat(item.DoneTime, "yyyy-MM-dd") + "</td>";
                        dataHtml += "<td>" + CutString(item.ApproveNickName, 20) + "</td>";
                        dataHtml += "<td>" + app_text + "</td>";
                        dataHtml += "<td><div class=\"tbOpare\"><a href=\"/WorkPlan/Modify?id="+item.ID+"\" class=\"aEdt\"><i class=\"i-edt\"></i></a><a href=\"javascript:;\" onclick=\"del(" + item.ID + ")\" class=\"aDel\"><i class=\"i-barrel\"></i></a></div></td>";
                        dataHtml += "</tr>";
                    });
                    if (data.data.length == 0) {
                        dataHtml += "<tr><td colspan=\"10\"><p style='text-align:center;font-size:16px;'>没有相关数据</p></td><tr>";
                    }
                    $("#span_data_total").text(data.total);
                    $("#listData").html(dataHtml);
                    //$("#pager").show();
                    //$("#pager").pager({ pagenumber: page_index, pagecount: data.data.PageTotal, totalcount: data.data.DataTotal, buttonClickCallback: PageClick });
                    //显示分页
                    laypage({
                        cont: 'pager', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                        pages: data.msgbox, //通过后台拿到的总页数
                        curr: page_index || 1, //当前页
                        groups: 7, //连续显示分页数
                        skip: true, //是否开启跳页
                        jump: function (obj, first) { //触发分页后的回调
                            if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                                pageData(obj.curr);
                            }
                        }
                    });

                },
                error: function () {
                    alert("加载失败");
                }
            })
        }
        /*******************列表 end *************************/
        
        //列表的选中
        function CheckAll(obj) {
            if ($(obj).is(':checked')) {
                $(".all_checked_but").prop("checked", true);
            } else {
                $(".all_checked_but").prop("checked", false);
            }
        }

        //截取字符串
        function CutString(str, len) {
            if (str.length > len) {
                return str.substring(0, len) + "...";
            } else {
                return str;
            }
        }

        //格式化时间
        function ChangeDateFormat(cellval, format) {
            try {
                var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var Minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var Second = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
                switch (format) {
                    case "yyyy-MM-dd":
                        return date.getFullYear() + "-" + month + "-" + currentDate;
                    case "yyyy-MM-dd HH:mm:ss":
                        return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + Minute + ":" + Second;
                    default:
                        return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + Minute + ":" + Second;
                }
            }
            catch (e) {
                return "";
            }
        }

        function del(id) {
            var ids = "";
            if (id == 0) {
                $(".all_checked_but").each(function () {
                    if ($(this).is(':checked')) {
                        ids = ids + $(this).attr("hid") + ","
                    }
                })
                if (ids == "") {
                    alert("请先选中要删除的数据");
                    return;
                }
                ids = ids.substring(0, ids.length - 1);
            }
            else {
                ids = id;
            }
            $.ajax({
                type: "post",
                url: "/AppVersion/DelVersion",
                data: { "ids": ids },
                async: false,
                beforeSend: function () {

                },
                complete: function () {

                },
                success: function (data) {
                    if (data.msg == 1) {
                        pageData(1);
                    }
                    else {
                        alert(data.msgbox);
                    }
                },
                error: function () {
                    alert("操作失败，请检查网络");
                }
            })
        }
    </script>

}
<!--底部脚本 end-->
