@{
    ViewBag.Title = "秘籍管理";
    ViewData["tabLeft"] = "doccategory";
    ViewData["tabTop"] = "manager";
}

<!--头部脚本-->
@section head
{

}
<!--头部脚本 end-->

<div class="wapper">
@Html.Partial("_AdminMenuLeft", this.ViewData)

    <div class="rightBox">
        <div class="container">
            <div class="tit1">
                <span class="fr f14 col_grey">注：编辑流程时，可按住 “流程块” 调整顺序</span>
                <b>分类设置</b>
            </div>

            <div class="sortBox">
                <table border="0" cellspacing="0" cellpadding="0" class="table2">
                    <tr>
                        <th width="15%">一级分类</th>
                        <th width="15%">二级分类</th>
                        <th width="15%">三级分类</th>
                        <th>新增分类</th>
                    </tr>
                    <tr class="">
                        <td valign="top">
                            <ul class="sortUL">
                                <li><a href="javascript:;">政策 <i class="i-del"></i></a></li>
                                <li><a href="javascript:;">指引<i class="i-del"></i></a></li>
                                <li><a href="javascript:;" class="aAppend">点击插入</a></li>
                            </ul>
                        </td>
                        <td valign="top">
                            <ul class="sortUL">
                                <li><a href="javascript:;">法律法规<i class="i-del"></i></a></li>
                                <li class="act"><a href="javascript:;">旧改秘籍<i class="i-del"></i></a></li>
                                <li><a href="javascript:;">政策法规<i class="i-del"></i></a></li>
                                <li><a href="javascript:;">行业干货<i class="i-del"></i></a></li>
                                <li><a href="javascript:;">其他<i class="i-del"></i></a></li>
                                <li><a href="javascript:;" class="aAppend">点击插入</a></li>
                            </ul>
                        </td>
                        <td valign="top">
                            <ul class="sortUL">
                                <li><a href="javascript:;">分类名称<i class="i-del"></i></a></li>
                                <li><a href="javascript:;">分类名称<i class="i-del"></i></a></li>
                                <li><a href="javascript:;">分类名称<i class="i-del"></i></a></li>
                                <li><a href="javascript:;">分类名称<i class="i-del"></i></a></li>
                                <li><a href="javascript:;">分类名称<i class="i-del"></i></a></li>
                                <li><a href="javascript:;">分类名称<i class="i-del"></i></a></li>
                                <li><a href="javascript:;">分类名称<i class="i-del"></i></a></li>
                                <li><a href="javascript:;">分类名称<i class="i-del"></i></a></li>
                                <li><a href="javascript:;" class="aAppend">点击插入</a></li>
                            </ul>
                        </td>
                        <td valign="middle" class="sortA"><a href="#" title="#" class="add_lc">+ 新增分类</a></td>
                    </tr>
                    <tr>
                        <td valign="middle" class="sortA"><a href="#">编辑分类 </a></td>
                        <td valign="middle" class="sortA"><a href="#">编辑分类 </a></td>
                        <td valign="middle" class="sortA"><a href="#">编辑分类 </a></td>
                        <td valign="middle" class="sortA">&nbsp;</td>
                    </tr>
                </table>

            </div>

        </div>



        <div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>
    </div>

</div>

    <!--底部脚本-->
    @section foot
{
        <script type="text/javascript">

            /**
           * 【获取秘籍分类】
           * 接口地址：/DocCategory/GetDocCategory?PId=
           * 请求参数：PID，父级ID，如果是一级，则不传数据，传入-1，获取所有
           * 请求方式：GET
           * 返回数据：json
           * 返回数据格式：直接在浏览器打开地址就可以看到
           */

            /**
            * 【添加秘籍分类】
            * 接口地址：/DocCategory/AddDocCategory
            * 请求参数示例：data: { "pid": 父级ID, "title": "部门名称"},
            * 请求方式：Post
            * 返回数据：json
            * 操作状态判断：result.msg =1：成功；result.msg=0：失败，result.msgbox 为错误原因描述
            */

            /**
            * 【修改分类】
            * 接口地址：/DocCategory/ModifyDocCategory
            * 请求参数示例：data: { "id": 部门ID, "title": "部门名称" },
            * 请求方式：Post
            * 返回数据：json
            * 操作状态判断：result.msg =1：成功；result.msg=0：失败，result.msgbox 为错误原因描述
            */

            /**
            * 【删除分类】
            * 接口地址：/DocCategory/Del?id=删除的数据ID
            * 请求方式：Post
            * 返回数据：json
            * 操作状态判断：result.msg =1：成功；result.msg=0：失败，result.msgbox 为错误原因描述
            */

            /**
            * 【分类排序】
            * 接口地址：/DocCategory/Sort
            * 请求方式：Post
            * 请求参数示例：data: { "ids": "1,2,3,4,5,6" }
            * 返回数据：json
            * 操作状态判断：result.msg =1：成功；result.msg=0：失败，result.msgbox 为错误原因描述
            * PS:一次只能排当前层级的数据，把当前层级的数据id，按照拖动后的顺序组成字符串，英文逗号分割传入
            */

        </script>
    }
    <!--底部脚本 end-->
