
@{
    ViewBag.Title = "个人中心";
}

<!-- 头部Style等 -->
@section htmlhead{

    <style>
        .custom-content p { font-size: inherit !important; color: rgba(0,0,0,0.8); }
    </style>
}
<!-- 头部Style等 END -->
<!-- MUI 头部导航栏设置 -->
@section muiheader{
    <div class="mui-navbar-inner mui-bar mui-bar-nav">
        <button type="button" onclick="javascript:location.href='Index'" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
            <span class="mui-icon mui-icon-left-nav"></span>
        </button>
        <h1 class="mui-center mui-title">VIP服务须知</h1>
    </div>

}
<!-- MUI 头部导航栏设置 END -->
<!-- Body -->
<div class="mui-content-padded">
    <p>请仔细阅读以下事项</p>
    <div class="custom-content">
        @Html.Raw(Universal.Tools.WebHelper.UrlDecode(WorkContext.WebSite.AgreementVIP))
    </div>
    <button type="button" onclick="location.href='/MP/BasicUser/Recharge?back=/MP/BasicUser/ToVIP'" class="mui-btn mui-btn-primary mui-btn-block" style="margin-top: 20px;">同意并继续</button>
</div>
<!-- Body END -->
<!-- MUI 底部导航栏设置 -->
@section muifooter{
}
<!-- MUI 底部导航栏设置 END -->
<!-- MUI 页面底部脚本 -->
@section htmlfoot{


}
<!-- MUI 页面底部脚本 END -->
