
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>找回密码</title>
    <meta charset="UTF-8" />
    <meta name="description" content="诚泰集团" />
    <meta name="keywords" content="诚泰集团" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <link href="/Assets/theme/css/public.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/theme/css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <!--fgBox-->
    <div class="fgBox">
        <h3><img src="/Assets/theme/ico/ico_forgetPw2.png" /></h3>
        <div class="fgBoxIner">
            <h4>找回密码</h4>
            <div class="fgokTips">
                <em><img src="/Assets/theme/ico/ico_ok.png" /></em>
                <h5>恭喜您，<span class="col_red">@ViewBag.Telphone</span> </h5>
                <h6>您的账号已重置为：@ViewBag.DefaultPwd</h6>
                <p>请重新登录，并及时修改登录密码。</p>
                <p><a class="btnLg" href="/Account/Login">立即登录</a></p>
            </div>
        </div>
    </div>




    <!--footer-->
    <div class="footer">
        <div class="center">
            Copyright ©  深圳市诚泰城市更新咨询服务有限公司  粤ICP备17053275号
        </div>
    </div>



</body>

<!--[if IE 6]>
<script type="text/javascript" src="skins/js/DD_belatedPNG.js"></script>
<script type="text/javascript">
 DD_belatedPNG.fix('.png');
</script>
<![endif]-->
</html>