@{
    ViewBag.Title = "首页";
}

@section head
{

}

@section nav
{
<div class="ibox-title">
    <h5>系统信息</h5>
    <div class="ibox-tools pull-right">
        <div class="switch">
            <div class="onoffswitch">
                <input type="checkbox" class="onoffswitch-checkbox" id="auto_ref" alt="自动刷新">
                <label class="onoffswitch-label" for="auto_ref">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
    </div>
</div>

}

<div id="div_sys">

</div>

@section foot
{
<script type="text/javascript">
    var loadDivId;
    var idInt;

    function LoadData()
    {
        $.ajax({
            url: '/Admin/Home/SysInfo',
            type: "GET",
            dataType: "html",
            beforeSend: function () {
                loadDivId = layer.load(1, {
                    shade: [0.8, '#fff'] //0.1透明度的白色背景
                });
            },
            complete: function () {
                layer.close(loadDivId)
            },
            success: function (result) {
                $("#div_sys").html("");
                $("#div_sys").html(result);
            }
        });
    }

    $(function () {
        LoadData();
        $("#auto_ref").change(function () {
            if($("#auto_ref").is(":checked"))
            {
                LoadData();
                idInt = setInterval(function () {
                    LoadData();
                }, 5000);
            }else
            {
                clearInterval(idInt);
            }
        });
    })
</script>
}
