body{ background:url(/Assets/images/bg.jpg)  no-repeat;margin:0;padding:0; border:0;}
table, tr, td, span { border:0;}
a{text-decoration:none;}
input,select{width:82px;height:18px;line-height:18px;border-radius:8px;-webkit-tap-highlight-color:rgba(0,0,0,0);outline:none;}
textarea{border-radius:8px;outline:none;}
ul,li{ list-style:none;margin:0; padding:0; border:0;}
.left{ width:160px;height:400px;margin-top:180px;float:left; }
.center_title { width:704px; height:60px;margin-top:70px; float:left; text-align:center;font-size:45px;font-family:'宋体';font-weight:bold;color:#c29162;}
.center{width:704px; height:500px;margin-top:10px;float:left;}
.right{width:160px;height:560px;margin-top:-60px;float:left;}
.ul_btn li{ height:60px;}
.ul_btn li a{display:block; width:110px;height:35px;font-family:'Microsoft YaHei';color:#000;font-weight:bold;line-height:35px;text-align:center; background:url(/Assets/images/btn_bg.png) no-repeat;background-size:contain;border-radius:3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
.ul_btn li .cur{ width:120px;height:40px;}
.tab tr{ height:45px;}
.tab tr td{padding-bottom:20px;}
.tab tr td:nth-child(3),td:nth-child(5),td:nth-child(7) { padding-left:18px;}
.tab tr td span{color:#ab8663;font-size:14px;width:65px; display:block;}
input[type="submit"],input[type="button"]{width:110px;height:35px;border:0; box-shadow:none;  background:url(/Assets/images/btn_bg.png) no-repeat;color:#000;font-weight:bold;line-height:35px;text-align:center;background-size:contain;border-radius:3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
.right_center{width:110px;height:560px;float:right;background:url(/Assets/images/user_border.png) no-repeat;background-size:contain;}
.search{ position:relative;}
.search a{ height:20px;width:20px; position:absolute;top:15px;left:6px; background:url(/Assets/images/search.png) no-repeat;background-size:contain;text-decoration:none;}
.search input[type="text"]{margin-top:13px;margin-left:5px;height:20px;background-color:#999387;border:0;padding-left:20px; width:62px;}
.search_con ul{margin-left:5px;margin-top:10px;height:510px; overflow-y:scroll; }
.search_con ul li{ height:45px; line-height:45px; width:80px; text-align:center; background:url(/Assets/images/line.png) no-repeat; background-size:contain;}
.search_con ul li a{color:#705e49; display:block; width:80px;}
.tab tr td .field-validation-error{ display:none; }
.input-validation-error { border: 1px solid #f00; background-color: #fee; }