@model Universal.Entity.CaseShow
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <div> 
        案例详情
    </div>
</body>
</html>
