
@{
    ViewBag.Title = "搜索结果-秘籍";
    ViewData["tabTop"] = "null";
}

<!--头部脚本-->
@section head
{
}
<!--头部脚本 end-->

<div class="search-head mb_20">
    <div class="search-head-bd">
        <div class="search-page">
            <input type="text" id="txt_search" value="@ViewData["word"]" /><a href="javascript:;" class="btn-search" onclick="pageData(1)">搜索</a>
        </div>
        <div class="clearfix">
            <ul class="new-tab clearfix">
                <li><a href="javascript:;" onclick="tab_click('Project')">项目</a></li>
                <li class="current"><a href="javascript:;" onclick="tab_click('Document')">秘籍</a></li>
                <li><a href="javascript:;" onclick="tab_click('Notice')">公告</a></li>
                <li><a href="javascript:;" onclick="tab_click('User')">同事</a></li>
            </ul>
            <span class="fr f14">搜索 和 <strong class="red" id="show_search_word"></strong> 相关的秘籍，共<strong class="red" id="show_search_total">0</strong>个结果</span>
        </div>
    </div>
</div>
<div class="search-con clearfix">
    <table border="0" cellspacing="0" cellpadding="0" class="table1 search-border">
        <thead>
            <tr>
                <th width="30%">标题</th>
                <th width="15%">一级分类</th>
                <th width="15%">二级分类</th>
                <th width="8%">上传者</th>
                <th width="12%">更新时间</th>
                <th width="5%">收藏</th>
            </tr>
        </thead>
        <tbody id="listData"></tbody>
    </table>

    <div class="page mt_40 tr">
        <div class="listBtm">
            <div style="width: 20%;float: left;">
								<span>共有<span id="span_data_total"></span>条，每页显示</span>
								<select class="sel" id="select_page_size">
									<option value="10" selected>10</option>
									<option value="20">20</option>
								</select>
								<span>条</span>
							</div>
							<div class="page fr">                        
								<div id="pager"></div>
							</div>
        </div>
    </div>

</div>

<!--wrapper ]]-->


<div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>


<!--底部脚本-->
@section foot
{
    @Scripts.Render("~/bundles/laypage")
    <script type="text/javascript">
        $(document).ready(function (e) {
            pageData(1);
        });

        /*******************列表 end *************************/
        //分页方法
        function pageData(page_index) {
            $.ajax({
                type: "post",
                url: "/Shool/DocData",
                data: { "page_size": $("#select_page_size").val(), "page_index": page_index, "doc_id": 0, "keyword": $("#txt_search").val() },
                async: false, //同步请求
                datatype: "json",
                success: function (data) {
                    if (data.msg == 0) {
                        alert(data.msgbox);
                        return;
                    }

                    $("#show_search_word").text("\"" + $("#txt_search").val() + "\"");
                    $("#listData").html("");
                    var dataHtml = "";
                    $.each(data.data, function (i, item) {
                        dataHtml += "<tr>";
                        dataHtml += "<td><a href='/Info/Doc?id="+item.ID+"&b=2'>" + CutString(item.Title, 28) + "</a></td>";
                        dataHtml += "<td>" + item.YiTxt + "</td>";
                        dataHtml += "<td>" + item.ErTxt + "</td>";
                        dataHtml += "<td>" + item.CusUser.NickName + "</td>";
                        dataHtml += "<td>" + ChangeDateFormat(item.LastUpdateTime, "") + "</td>";
                        dataHtml += "<td><div class=\"tbOpare\"><a href=\"javascript:void(0);\" onclick=\"fav(" + item.ID + ")\" class=\"afav\"><i class=\"" + item.FavIcon + "\"></i></a></div></td>";
                        dataHtml += "</tr>";
                    });
                    if (data.data.length == 0) {
                        dataHtml += "<tr><td colspan=\"10\"><p style='text-align:center;font-size:16px;'>没有相关数据</p></td><tr>";
                    }
                    $("#span_data_total").text(data.total);
                    $("#show_search_total").text(data.total);
                    $("#listData").html(dataHtml);
                    //$("#pager").show();
                    //$("#pager").pager({ pagenumber: page_index, pagecount: data.data.PageTotal, totalcount: data.data.DataTotal, buttonClickCallback: PageClick });
                    //显示分页
                    laypage({
                        cont: 'pager', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                        pages: data.msgbox, //通过后台拿到的总页数
                        curr: page_index || 1, //当前页
                        groups: 7, //连续显示分页数
                        skip: true, //是否开启跳页
                        jump: function (obj, first) { //触发分页后的回调
                            if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                                pageData(obj.curr, doc_id, clearbox);
                            }
                        }
                    });

                },
                error: function () {
                    alert("加载失败");
                }
            })
        }
        /*******************列表 end *************************/

       

        function down(linkstr, title) {
            if (linkstr != null && linkstr.length > 0) {
                $.post('/Home/AddDownLog', { "title": title }, function (text, status) { window.open(linkstr) });
            }
        }

        function fav(id) {

            $.ajax({
                type: "post",
                url: "/Shool/Fav",
                data: { "id": id },
                async: false,
                beforeSend: function () {

                },
                complete: function () {

                },
                success: function (data) {
                    if (data.msg == 1) {
                        pageData(1);
                    }
                    else {
                        alert(data.msgbox);
                    }
                },
                error: function () {
                    alert("操作失败，请检查网络");
                }
            })
        }
    </script>

    <script type="text/javascript">
        function tab_click(action) {
            var search_word = $("#txt_search").val();
            if (search_word.length == 0) {
                alert("请输入搜索内容");
                return;
            }
            location.href = "/Search/" + action + "?word=" + search_word;
        }
    </script>

}
<!--底部脚本 end-->