
@{
    ViewBag.Title = "搜索结果-节点";
    ViewData["tabTop"] = "null";
}

<!--头部脚本-->
@section head
{
}
<!--头部脚本 end-->

<div class="search-head mb_20">
    <div class="search-head-bd">
        <div class="search-page">
            <input type="text" value="活动" /><a href="javascript:;" class="btn-search">搜索</a>
        </div>
        <div class="clearfix">
            <ul class="new-tab clearfix">
                <li ><a href="/Search/Project">项目</a></li>
                <li><a href="/Search/Document">秘籍</a></li>
                <li class="current"><a href="/Search/Node">节点</a></li>
                <li><a href="/Search/Notice">公告</a></li>
                <li><a href="javascript:;">同事</a></li>
            </ul>
            <span class="fr f14">搜索 和 <strong class="red">"活动"</strong> 相关的节点，共<strong class="red">12</strong>个结果</span>
        </div>
    </div>
</div>
<div class="search-con clearfix">
    <div class="search-border tc ptb-50">
        <img src="/assets/theme/images/search-step.png" alt="" />
    </div>

</div>

<!--wrapper ]]-->


<div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>


<!--底部脚本-->
@section foot
{
    <script type="text/javascript">

    </script>

}
<!--底部脚本 end-->