
@{
    ViewBag.Title = "搜索结果-公告";
    ViewData["tabTop"] = "null";
}

<!--头部脚本-->
@section head
{
}
<!--头部脚本 end-->

<div class="search-head mb_20">
    <div class="search-head-bd">
        <div class="search-page">
            <input type="text" value="活动" /><a href="javascript:;" class="btn-search">搜索</a>
        </div>
        <div class="clearfix">
            <ul class="new-tab clearfix">
                <li ><a href="/Search/Project">项目</a></li>
                <li><a href="/Search/Document">秘籍</a></li>
                <li><a href="/Search/Node">节点</a></li>
                <li class="current"><a href="/Search/Notice">公告</a></li>
                <li><a href="javascript:;">同事</a></li>
            </ul>
            <span class="fr f14">搜索 和 <strong class="red">"活动"</strong> 相关的节点，共<strong class="red">12</strong>个结果</span>
        </div>
    </div>
</div>
<div class="search-con clearfix">
    
    <table border="0" cellspacing="0" cellpadding="0" class="table1 search-border">
        <tr>
            <th width="20"><input type="checkbox" name="" id="" value="" /></th>
            <th width="15%">通知标题</th>
            <th width="35%">通知内容</th>
            <th width="10%">通知范围</th>
            <th width="10%">发布人</th>
            <th width="15%">发布时间</th>
            <th width="15%">操作</th>
        </tr>
        <tr>
            <td><input type="checkbox" name="" id="" value="" /></td>
            <td>活动通知</td>
            <td><span class="tfe">通知内容通知内容通知内容通知</span></td>
            <td>营销部</td>
            <td>Jacky</td>
            <td>2016-08-22 18:05:24</td>
            <td><div class="tbOpare"><a href="" class="alook"><i class="i-look"></i></a></div></td>
        </tr>
        <tr>
            <td><input type="checkbox" name="" id="" value="" /></td>
            <td>活动通知</td>
            <td><span class="tfe">通知内容通知内容通知内容通知</span></td>
            <td>营销部</td>
            <td>Jacky</td>
            <td>2016-08-22 18:05:24</td>
            <td><div class="tbOpare"><a href="" class="alook"><i class="i-look"></i></a></div></td>
        </tr>
        <tr>
            <td><input type="checkbox" name="" id="" value="" /></td>
            <td>活动通知</td>
            <td><span class="tfe">通知内容通知内容通知内容通知</span></td>
            <td>营销部</td>
            <td>Jacky</td>
            <td>2016-08-22 18:05:24</td>
            <td><div class="tbOpare"><a href="" class="alook"><i class="i-look"></i></a></div></td>
        </tr>
        <tr>
            <td><input type="checkbox" name="" id="" value="" /></td>
            <td>活动通知</td>
            <td><span class="tfe">通知内容通知内容通知内容通知</span></td>
            <td>营销部</td>
            <td>Jacky</td>
            <td>2016-08-22 18:05:24</td>
            <td><div class="tbOpare"><a href="" class="alook"><i class="i-look"></i></a></div></td>
        </tr>
        <tr class="hover">
            <td><input type="checkbox" name="" id="" value="" /></td>
            <td>活动通知</td>
            <td><span class="tfe">通知内容通知内容通知内容通知</span></td>
            <td>营销部</td>
            <td>Jacky</td>
            <td>2016-08-22 18:05:24</td>
            <td><div class="tbOpare"><a href="" class="alook"><i class="i-look"></i></a></div></td>
        </tr>
        <tr>
            <td><input type="checkbox" name="" id="" value="" /></td>
            <td>活动通知</td>
            <td><span class="tfe">通知内容通知内容通知内容通知</span></td>
            <td>营销部</td>
            <td>Jacky</td>
            <td>2016-08-22 18:05:24</td>
            <td><div class="tbOpare"><a href="" class="alook"><i class="i-look"></i></a></div></td>
        </tr>
        <tr>
            <td><input type="checkbox" name="" id="" value="" /></td>
            <td>活动通知</td>
            <td><span class="tfe">通知内容通知内容通知内容通知</span></td>
            <td>营销部</td>
            <td>Jacky</td>
            <td>2016-08-22 18:05:24</td>
            <td><div class="tbOpare"><a href="" class="alook"><i class="i-look"></i></a></div></td>
        </tr>
    </table>


    <div class="page mt_40 tr">
        共有1条，每页显示
        <select name="" class="selt">
            <option value="">1</option>
        </select>  条

        <a href=""><i class="i-pgLbig"></i></a>
        <a href=""><i class="i-pgLsm"></i></a>
        <span>1/2</span>
        <a href=""><i class="i-pgRsm"></i></a>
        <a href=""><i class="i-pgRbig"></i></a>
        <input name="" id="" value="" class="pginput" type=""><input id="" value="跳转" class="pgbtn" type="button">
    </div>
</div>

<!--wrapper ]]-->


<div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>


<!--底部脚本-->
@section foot
{
    <script type="text/javascript">

    </script>

}
<!--底部脚本 end-->