
@{
    ViewBag.Title = "搜索结果-项目";
    ViewData["tabTop"] = "null";
}

<!--头部脚本-->
@section head
{
}
<!--头部脚本 end-->

<div class="search-head mb_20">
    <div class="search-head-bd">
        <div class="search-page">
            <input type="text" value="活动" /><a href="javascript:;" class="btn-search">搜索</a>
        </div>
        <div class="clearfix">
            <ul class="new-tab clearfix">
                <li class="current"><a href="/Search/Project">项目</a></li>
                <li><a href="/Search/Document">秘籍</a></li>
                <li><a href="/Search/Node">节点</a></li>
                <li><a href="/Search/Notice">公告</a></li>
                <li><a href="javascript:;">同事</a></li>
            </ul>
            <span class="fr f14">搜索 和 <strong class="red">"活动"</strong> 相关的节点，共<strong class="red">12</strong>个结果</span>
        </div>
    </div>
</div>
<div class="search-con clearfix">
    <table border="0" cellspacing="0" cellpadding="0" class="table1 search-border">
        <tr>
            <th width="15%">项目名称</th>
            <th width="25%">当前节点</th>
            <th width="30%">节点描述</th>
            <th width="10%">责任人</th>
            <th width="20%">更新时间</th>
        </tr>
        <tr>
            <td>蔡屋围更新项目</td>
            <td><span class="tfe">通知内容通知内容通知内容通知</span></td>
            <td>营销部</td>
            <td>Jacky</td>
            <td>2016-08-22 18:05:24</td>
        </tr>
        <tr>
            <td><span class="red">蔡屋围</span>更新项目</td>
            <td><span class="tfe">通知内容通知内容通知内容通知</span></td>
            <td>营销部</td>
            <td>Jacky</td>
            <td>2016-08-22 18:05:24</td>
        </tr>
        <tr>
            <td>蔡屋围更新项目</td>
            <td><span class="tfe">范围划定、权属信息查询、更新意愿公示及审核材料</span></td>
            <td>营销部</td>
            <td>Jacky</td>
            <td>2016-08-22 18:05:24</td>
        </tr>
        <tr>
            <td>蔡屋围更新项目</td>
            <td><span class="tfe">通知内容通知内容通知内容通知</span></td>
            <td>完成节点：“两规”建筑物消防验收备案</td>
            <td>Jacky</td>
            <td>2016-08-22 18:05:24</td>
        </tr>
        <tr class="hover">
            <td>蔡屋围更新项目</td>
            <td><span class="tfe">通知内容通知内容通知内容通知</span></td>
            <td>营销部</td>
            <td>Jacky</td>
            <td>2016-08-22 18:05:24</td>
        </tr>
        <tr>
            <td>蔡屋围更新项目</td>
            <td><span class="tfe">通知内容通知内容通知内容通知</span></td>
            <td>营销部</td>
            <td>Jacky</td>
            <td>2016-08-22 18:05:24</td>
        </tr>
        <tr>
            <td>蔡屋围更新项目</td>
            <td><span class="tfe">通知内容通知内容通知内容通知</span></td>
            <td>营销部</td>
            <td>Jacky</td>
            <td>2016-08-22 18:05:24</td>
        </tr>
    </table>
    <div class="page mt_40 tr">
        共有1条，每页显示
        <select name="" class="selt">
            <option value="">1</option>
        </select>  条

        <a href=""><i class="i-pgLbig"></i></a>
        <a href=""><i class="i-pgLsm"></i></a>
        <span>1/2</span>
        <a href=""><i class="i-pgRsm"></i></a>
        <a href=""><i class="i-pgRbig"></i></a>
        <input name="" id="" value="" class="pginput" type=""><input id="" value="跳转" class="pgbtn" type="button">
    </div>
</div>

<!--wrapper ]]-->


<div class="footer">Copyright ©  深圳花伴里实业集团有限公司  粤ICP备13089427号-1</div>


<!--底部脚本-->
@section foot
{
    <script type="text/javascript">

    </script>

}
<!--底部脚本 end-->